<div class="container">
  <h1 class="text-center mt-3">Sign Up</h1>

  <form action="/user/create-user" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        name="email"
        placeholder="email"
        id="email"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Username</label>
      <input
        type="text"
        name="name"
        placeholder="username"
        id="name"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        placeholder="password"
        id="password"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        placeholder=" confirm password"
        id="confirm_password"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
